.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0px;
}

.popup-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-container {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  z-index: 50;
}



pre, code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #2d2d2d;
  color: #f8f8f2; 
  border-radius: 5px;
  overflow-x: auto;
  line-height: 1.75rem;
}

pre {
  white-space: pre-wrap; 
}

.code-keyword {
  color: #E2725B; /* Light blue for keywords */
  font-weight: bold;
}

.code-string {
  color: #e6db74; /* Light yellow for strings */
}

.code-number {
  color: #ae81ff; /* Light purple for numbers */
}

.code-punctuation {
  color: #f8f8f2; /* Light text color */
}

.code-function {
  color: #a6e22e; /* Light green for functions */
}

.code-variable {
  color: #f92672; /* Light pink for variables */
}
