@tailwind base;
@tailwind components;
@tailwind utilities;


pre, code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2d2d2d;
    color: #f8f8f2; 
    border-radius: 5px;
    overflow-x: auto;
    line-height: 1.75rem;
  }
  
  pre {
    white-space: pre-wrap; 
  }
  
  .code-keyword {
    color: #E2725B; /* Light blue for keywords */
    font-weight: bold;
  }
  
  .code-string {
    color: #e6db74; /* Light yellow for strings */
  }
  
  .code-number {
    color: #ae81ff; /* Light purple for numbers */
  }
  
  .code-punctuation {
    color: #f8f8f2; /* Light text color */
  }
  
  .code-function {
    color: #a6e22e; /* Light green for functions */
  }
  
  .code-variable {
    color: #f92672; /* Light pink for variables */
  }
  