@keyframes #{$namespace}_zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes #{$namespace}_zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: translate3d(0, var(--y), 0) scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

.#{$namespace}_zoom-enter {
  animation-name: #{$namespace}_zoomIn;
}

.#{$namespace}_zoom-exit {
  animation-name: #{$namespace}_zoomOut;
}
